:lang(ja) {
    font-family: "Hiragino Kaku Gothic Pro", "Meiryo UI", "ヒラギノ角ゴ Pro W3", "メイリオ", "Osaka", "MS PGothic", "ＭＳ Ｐゴシック", sans-serif;
}
#top {
    border-top: 4px solid #ddd;
}
#submit:hover {
    background-color: #ddd;
}
#submit:active {
    background-color: #3276b1;
}