:lang(ja) {
    font-family: "Hiragino Kaku Gothic Pro", "Meiryo UI", "ヒラギノ角ゴ Pro W3", "メイリオ", "Osaka", "MS PGothic", "ＭＳ Ｐゴシック", sans-serif;
}
.top {
    border-top: 4px solid #ddd;
}
#submit:hover {
    background-color: #ddd;
}
#submit:active {
    background-color: #3276b1;
}
.bs-masthead {
    background-color: #f09609;
    color: #ffffff;
}
/* Callouts*/

.bs-callout {
    margin: 20px 0;
    padding: 15px 30px 15px 15px;
    border-left: 5px solid #eee;
}
.bs-callout h4 {
    margin-top: 0;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code,
.bs-callout .highlight {
    background-color: #fff;
}
/* Themes for different contexts */

.bs-callout-danger {
    background-color: #fcf2f2;
    border-color: #dFb5b4;
}
.bs-callout-warning {
    background-color: #fefbed;
    border-color: #f1e7bc;
}
.bs-callout-info {
    background-color: #f0f7fd;
    border-color: #d0e3f0;
}
/* Sticky footer styles
-------------------------------------------------- */

html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}
.container .text-muted {
    margin: 20px 0;
}
/* navbar */

.navbar {
    margin-bottom: 0;
}
.navbar-default {
    background-color: #ffffff;
    border-color: #f9f9f9;
}
.navbar-default .navbar-brand {
    color: #f09609;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #f09609;
}
.navbar-default .navbar-text {
    color: #f09609;
}
.navbar-default .navbar-nav > li > a {
    color: #f09609;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #f09609;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #f09609;
    background-color: #f9f9f9;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #f09609;
    background-color: #f9f9f9;
}
.navbar-default .navbar-toggle {
    border-color: #f9f9f9;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #f9f9f9;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #f09609;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #f09609;
}
.navbar-default .navbar-link {
    color: #f09609;
}
.navbar-default .navbar-link:hover {
    color: #f09609;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #f09609;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #f09609;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #f09609;
        background-color: #f9f9f9;
    }
}
}
.navbar-default .navbar-link:hover {
    color: #f09609;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #f09609;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #f09609;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #f09609;
        background-color: #dfdbd2;
    }
}